body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

input, textarea, button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#auth-container, #task-container {
    width: 300px;
    margin: auto;
    text-align: center;
}

#tasks-list {
    margin-top: 20px;
}
